<%- include('partials/header') %>
<div class="post">
    <div class="container">
        <div class="post-items">
            <h1 class="post-title"><%= Title %></h1>
            <img src="<%= img_url %>" class="post-img">
            <p><%- content %> </p>
        </div>
    </div>
</div>
   

<%- include('partials/footer') %>